@model MvcMovie.Models.Entities.MovieIndexVm 


<div id="black-hole">
    <div id="search_form">
    <form asp-controller="Movie" asp-action="Index" method="get">
        <p>
            Search for movie: <input type="text" name="SearchString" value=@Model.SearchString></input>
            <input type="submit" value="Filter" />
        </p>
    </form>
        <button id="reset_btn">
            <a asp-action="Index">Reset search</a>
        </button>
    </div>

</div>


<div class="container_movies">
    <div class="row">
        <div class="col-1"></div>
    </div>

    <div id="create_div">
        <a id="btn-create" asp-action="Create">
            <div id="create">Add Movie</div>
        </a>
    </div>

    @foreach (var movie in Model.Movies)
    {
        <div class="row-grid-row-movies">
            <div id="movie-title-date">
                <div class="movie-title">@Html.DisplayFor(x => movie.Title)</div>
                <div class="movie-created">@Html.DisplayFor(x => movie.CreatedDate)</div>
            </div>

            <div class="movie-content">@Html.DisplayFor(x => movie.Description)</div>
            
            <div id="movie-buttons">
                <div class="movie-submit"><a class="btn btn-secondary" asp-action="Edit" asp-route-id="@movie.Id">Edit</a></div>
                <div class="movie-comments">
                    <a class="btn btn-secondary" asp-action="ShowComments" asp-route-id="@movie.Id">Comments</a>
                </div>
                <div class="movie-delete"><a class="btn btn-secondary" asp-action="Delete" asp-route-id="@movie.Id">Delete</a></div>
            </div>

            <div class="movie-rating">
                <p class="rating-p-tag">Movie Rating: @movie.Rating</p>
            </div>
        </div>
    }
</div>